<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
          >
          
  <bean name="userDao" class="com.springTest.UserDaoImpl">
   <property name="daoCount" value="20"></property>
  </bean>
  <bean name="userDao1" class="com.springTest.UserDaoImpl">
   <property name="daoCount" value="10"></property>
  </bean>
  
  
  <bean name="userService" class = "com.springTest.UserServiceImpl" autowire="byName"></bean>
  
  
 <!--  <bean name ="springAction" class="com.springTest.springAction">
  	<constructor-arg ref="userService"></constructor-arg>
  
  </bean> -->
  
  <bean name ="springAction" class="com.springTest.springAction">
	<property name="userService" ref="userService"></property>  
  </bean>
  
  </beans>